var new_comment= $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#comnents').prepend(new_comment);
$('#comment')_<%= @comment.id %>.fadeIn('slow'));
$('#new_comment')[0].reset();
